#!/usr/bin/env bash

if [ ! -d .direnv ]; then
  mkdir -p .direnv
fi

CURRENT_HOUR=$(date +%-H)
if [[ $CURRENT_HOUR < 6 ]]; then
  CURRENT_DATE=$(date -d yesterday +%Y-%m-%d)
else
  CURRENT_DATE=$(date +%Y-%m-%d)
fi

if [ ! -f .direnv/pull_date ] || [[ $CURRENT_DATE != $(cat .direnv/pull_date) ]]; then
  git checkout -- flake.lock
  git pull --rebase --autostash
  nix flake update
  echo $CURRENT_DATE > .direnv/pull_date
fi

