@define-color fg #eeeeee;
@define-color bg #222222;
@define-color border #bbbbbb;

window#waybar {
  font-family: monospace, Blobmoji, FontAwesome;
  font-size: 14px;
  color: @fg;
  background-color: @bg;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces {
  padding: 0 10px;
}

#backlight {
}

#battery {
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  animation: blink 0.5s infinite alternate ease-in-out;
}

#clock {
}

#cpu {
}

#disk {
}

#memory {
}

#network {
}

#network.disconnected,
#network.linked {
  background-color: #2980b9;
}

#pulseaudio {
}

#temperature {
}

#temperature.critical {
  background-color: #f53c3c;
  animation: blink 0.5s infinite alternate ease-in-out;
}

#tray {
}

#tray menu {
  font-family: sans-serif, Blobmoji, FontAwesome;
}

#window {
  font-family: sans-serif, Blobmoji, FontAwesome;
}

#wireplumber {
}

#workspaces {
  padding: 0 10px 0 0;
}

#workspaces button {
  color: @fg;
  text-shadow: 0 0;
  box-shadow: 0 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0 5px;
}

#workspaces button:hover {
  color: @bg;
  background: @fg;
}

#workspaces button.active {
  box-shadow: inset 0 2px @fg;
}

#workspaces button.active:hover {
  color: @bg;
}

@keyframes blink {
  to {
    background-color: inherit;
  }
}
